<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <form action="/auth/save-product" method="post">
    <label for="product_name">Product Name</label><br>
    <input name="product_name" id="product_name" type="text"><br>
    <label for="product_description">Description</label><br>
    <input name="product_description" id="product_description" type="text"><br>
    <label for="product_quantity">Quantity</label><br>
    <input name="product_quantity" id="product_quantity" type="text"><br>
    <label for="supplier_id"></label>
    <select name="supplier_id" id="supplier_id" multiple>
        {{#each suppliers}}
        <option value="{{this.supplier_id}}" >{{this.supplier_name}}</option>
        {{/each}}
    </select>
    <button type="submit">Save</button>
    </form>
    {{#if message}}
        <h4>{{message}}</h4>
    {{/if}}
</body>
</html>